// @import 'leaflet/dist/leaflet.css';

.leaflet-container {
  height: 80vh;
}

.dark-skin .leaflet-control > a,
.dark-skin .leaflet-control {
  background-color: #2c2f34;
}

dark-skin .leaflet-control > a::hover {
  color: grey;
}

.dark-skin .leaflet-control:not(a) {
  color: white;
}
